@import "./reset.css";
@import "./typography.css";
@import "./layout.css";
@import "./header.css";
@import "./search-section.css";
@import "./section-content.css";
@import "./gallery.css";
@import "./footer.css";





main{
    background-image: url("../Media/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
